<div class="sidebar">
  <div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" style="color: white;" href="/">Streamer</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="collapse items-list">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a href="customer" class="nav-link">
              Home
            </a>
        </li>
        <li class="nav-item px-3">
            <a href="me" class="nav-link">
              Timeline
            </a>
        </li>
    </ul>
  </div>
</div>
