<div class="sidebar">
  <div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" style="color: white;" href="/">Streamer</a>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse items-list">
    <% if user_signed_in? %>
      <ul class="nav flex-column">
        <li class="nav-item px-3 <%= 'active' if current_page?(wall_path) %>">
          <%= link_to wall_path, class: "nav-link #{"active" if current_page?(wall_path)}" do %>
            Wall
          <% end %>
        </li>
        <li class="nav-item px-3 <%=  %>">
          <%= link_to timeline_path, class: "nav-link #{("active" if current_page?(timeline_path))}" do %>
            Timeline
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
