
.btn-twitter {
  background: #00ACEE;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #0075a2;
}
.btn-twitter:link, .btn-twitter:visited {
  color: #fff; 
}
.btn-twitter:active, .btn-twitter:hover {
  background: #0075a2;
  color: #fff; 
}
.alert {
  animation: fadeOut 3s forwards;
  animation-delay: 3s;
}
.content{
  width: 1000px;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.text-tweet{
  margin:1px 0 4px;
}
.media-text{
  margin: 10px 0 10px;
}

hr{
  border-top: 1px solid #bfac25;
}
