/*
 * wrapper CSS
 */

.page-wrapper {
  height: 100vh;
}

a, .btn-link {
    color: #0366d6;
}

.btn-twitter-with-icon {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 22px;
}
.btn-twitter-with-icon:hover{
  color: #fff;
  background-color: #1062b5;
}

.top-row {
    height: 3.5rem;
    align-items: center;
}

.content-color {
    background-color: linen;
}

.top-row {
  background-color: wheat;
  border-bottom: 1px solid #d6d5d5;
}

.top-row > a, .top-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.image-size{
  width: 15%;
}

.color-white{
  color: white;
}

#sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #212121;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 12px 5px 7px 30px;
    background: #141414;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #000;
    background: #fbc70c;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fbc70c;
}


/* Profile container */
.profile {
  margin: 20px 0;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
}

.profile-userpic{
  text-align: center;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-user {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-usermenu {
  margin-top: 30px;
}


.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  margin-left: -2px;
}

.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 20%;
  }
}